/* ===============================================Common Css Stars*/

body{
    margin-left: 160px;
    margin-right: 160px;
}

.fira-sans-normal {
    font-family: "Fira Sans";
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    }

.faded-black{
    color: #0E0E0E80;
}

.black-text{
    color: #0E0E0E;
}
.primary-text{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
}

.card-name{
    font-size: 20px;
    font-weight: 700;
}

.btn-primary{
    width: 130px;
    height: 41px;
    padding: 11px 20px 11px 20px;
    border-radius: 8px;
    border: none;
    color: white;
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
}

.btn-primary:hover{
    background-color: rgb(77, 145, 128);
    color: rgb(0, 0, 0);
}

.dark-green-shade{
    background-color: rgb(0, 106, 80);
}

/* ===============================================Common Css Ends*/

/* =============================Header styles*/
/* nav styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 31px;
}

.nav-text{
    font-size: 38px;
    font-weight: 900;
}

.sign-in-btn{
    width: 116px;
    height: 52px;
    align-items: center;
    padding: 15px 30px 15px 30px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    font-size: 16px;
    color: #006A50;
    font-weight: 600;
}
.sign-in-btn:hover{
    background-color: #006A50;
    color: white;
}

/* Banner / Hero section */

.banner{
    height: 580px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 80px 100px 80px 100px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    margin-top: 51px;
    margin-bottom: 80px;
}

/* --------------------------left div text area*/
.container-caption{
    font-size: 30px;
    font-weight: 700;
}

.hero-text{
    width: 622px;
    font-size: 56px;
    font-weight: 700;
    color: #0E0E0E;
}

.hero-btn{
    width: 320px;
    padding: 19px 42px 19px 43px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}
.hero-btn:hover{
    background-color: rgb(77, 145, 128);
}


/* -----------------------------------right div */
.header-visual{
    width: 474.03px;
    height: 329.21px;
}
.header-visual img{
     width: 511px;
     height: 429px;
}

/* =================================================Main Section styles*/
/* Pillars */

.foundations-section{
    margin-bottom: 32px;
}
.pillars-header{
    font-size: 40px;
    font-weight: 700;
}

/* ----------------------------------------------core values / pillars styles*/

.pillars-card-container{
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
    margin-bottom: 80px;
}

.card{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
    width: 302px;
    height: 244px;
    padding: 24px;
    padding-bottom: 10px;
}
.card:hover{
    background-color: rgb(250, 248, 248);
}
/* ----------------------------------------------Vision Sections style*/

.vision-BD{
    margin-bottom: 32px;
    margin-top: 32px;
}

.vision-card-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 32px;
    margin-bottom: 32px;
}

.vision-card-1{
    width: 410.67px;
    padding: 32px;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2); 
}

.vision-card-2{
    width: 410.67px;
    padding: 32px;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(198, 228, 214);
}

.vision-card-3{
    width: 410.67px;
    padding: 32px;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(247, 235, 207);
}

.learn-more-button-1{
    width: 130px;
    height: 41px;
    padding: 11px 20px 11px 20px;
    border-radius: 8px;
    border: none;
    color: white;
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    background: rgb(84, 144, 245);
    margin-top: 32px;
}
.learn-more-button-1:hover{
    background-color: rgb(1, 53, 143);
}

.learn-more-button-2{
    width: 130px;
    height: 41px;
    padding: 11px 20px 11px 20px;
    border-radius: 8px;
    border: none;
    color: white;
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    background: rgb(9, 161, 92);
    margin-top: 32px;
}
.learn-more-button-2:hover{
    background-color: rgb(0, 106, 80);
}

.learn-more-button-3{
    width: 130px;
    height: 41px;
    padding: 11px 20px 11px 20px;
    border-radius: 8px;
    border: none;
    color: white;
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    background: rgb(255, 194, 57);
    margin-top: 32px;
}
.learn-more-button-3:hover{
    background-color: orange;
}

/* Quotation container */

.quotation-container{
    height: 256px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin-bottom: 80px;
    background-image: url('../assets/quote-bg.png');
    background-position: 23px 28px;
    background-repeat: no-repeat;
    padding: 48px 24px 48px 24px;
}
/* ----------------------------------------------News Sections style*/
.media-info-blog{
    display: flex;
    gap: 32px;
    border-radius: 24px;
    background-color: rgb(255, 255, 255);
    padding: 48px;
    border: 0.5px solid rgba(14, 14, 14, 0.15);
    margin-bottom: 32px;
}

.media-info-blog-reverse{
    display: flex;
    gap: 32px;
    border-radius: 24px;
    background-color: rgb(255, 255, 255);
    padding: 48px;
    border: 0.5px solid rgba(14, 14, 14, 0.15);
    margin-bottom: 32px;
}

.media-info-blog img{
    border-radius: 24px;
}

.media-header{
    font-size: 40px;
    font-weight: 700;
}

.blog-btn{
    border-radius: 8px;
    background-color: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
}


/* ----------------------------------------------Pricing / donate now Sections style*/
.donation-container{
    margin-bottom: 80px;
    text-align: center;
    align-items: center;
}

.pricing-display-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.price-box{
    padding: 0px 38px 3px 40px;
    font-size: 40px;
    font-weight: 700;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    margin-top: 32px;
    text-align: center;
}

.price-box:hover{
    background-color: #006A50;
    color: white;
}
.common-green-shade{
 background-color: rgb(198, 228, 214);
}

/* Input field */

input[type=number]{
    width: 100%;
    height: auto;
    padding: 20px 40px 20px 40px;
    margin-top: 32px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 5px;
    background: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 32px;
}
input[type=number]:hover{
    background-color: rgb(250, 248, 248);
}

::placeholder{
    font-size: 20px;
    font-weight: 400;
}

/* ----------------------------------------------News latter Sections style*/
.news-latter-container{
    text-align: center;
    padding: 80px 100px 80px 100px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    margin-bottom: 80px;
}

input[type=text]{
    display: inline;
    width: 80%;
    height: auto;
    padding: 24px 40px 21px 40px;
    margin-top: 32px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 15px 0px 0px 15px;
    background: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 32px;
}

.btn-subscribe{
    display: inline;
    width: 150px;
    height: 60px;
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    border-radius: 0px 8px 8px 0px;
    color: white;
    background: rgb(0, 106, 80);
    border: none;
}
.btn-subscribe:hover{
    background-color: rgb(77, 145, 128);
    color: rgb(0, 0, 0);
}
     
/* ==============================================Footer Sections style*/

.footer{
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 50px 160px 50px 160px;
}

hr{
    width: 100%;
    border: 1px solid rgba(14, 14, 14, 0.1);
}

.social-media-logo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 50px;
}
/* ==================================================(END)======================================================= */
